<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="naturesGarantie">
      <h2 data-cy="naturesGarantieDetailsHeading">
        <span jhiTranslate="esyggatewayApp.referentielmsNaturesGarantie.detail.title">Natures Garantie</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ naturesGarantie.id }}</span>
        </dd>
        <dt><span jhiTranslate="esyggatewayApp.referentielmsNaturesGarantie.libelle">Libelle</span></dt>
        <dd>
          <span>{{ naturesGarantie.libelle }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/natures-garantie', naturesGarantie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
