<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="joursFeries">
      <h2 data-cy="joursFeriesDetailsHeading">
        <span jhiTranslate="esyggatewayApp.referentielmsJoursFeries.detail.title">Jours Feries</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ joursFeries.id }}</span>
        </dd>
        <dt><span jhiTranslate="esyggatewayApp.referentielmsJoursFeries.date">Date</span></dt>
        <dd>
          <span>{{ joursFeries.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="esyggatewayApp.referentielmsJoursFeries.description">Description</span></dt>
        <dd>
          <span>{{ joursFeries.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/jours-feries', joursFeries.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
